/*======================================
        Footer
======================================*/
#footer{
	padding: 32px 0 45px 0;
	background: #000; 
	color: #fff; 
}

.menu-footer{
	li{
		float: left;
		padding: 0 15px;
		border-right: 1px solid #fff;
		&:last-child {
			border: 0;
		}
		
	}
}
.coppyright{
	text-align: center;
	margin-top: 75px;
	font-weight: 700;
	span{
		font-size: 16px;
		line-height: 2;
		display: inline-block;
	}
	p {
		font-size: 13px;
		line-height: 2;
	}
}