@charset "UTF-8";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/earlyaccess/notosansjapanese.css";
.row_clear:after, .container:after, .container-fluid:after, .home_06:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Meiryo UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #000;
  font-size: 14px; }

/* cssFadein */
body {
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
  animation: fadeIn 2s ease 0s 1 normal; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* /cssFadein */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
  a:hover {
    text-decoration: none; }
  a:focus {
    text-decoration: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

li, ol {
  list-style: none; }

button, input, a {
  padding: 0;
  border: 0; }
  button:focus, input:focus, a:focus {
    outline: none; }

p {
  font-size: 14px;
  line-height: 1.2; }

/*------------------- Wraper -------------------*/
.wrapper {
  position: relative;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .wrapper.menu-open {
    left: -250px; }

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.container-fluid {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }

.image-center {
  text-align: center; }

.title-h2 {
  text-align: center;
  margin-bottom: 35px; }
  .title-h2 h2:before {
    content: '';
    display: block;
    width: 110px;
    height: 55px;
    margin: 0 auto 25px auto; }
  .title-h2.title-2 h2:before {
    content: none; }
  .title-h2.title-o h2:before {
    background: url("../images/title-o.png") no-repeat; }
  .title-h2.title-1 h2:before {
    background: url("../images/title-1.png") no-repeat; }

/*======================================
        Header
======================================*/
#header {
  background: #fff; }
  #header .container {
    position: relative; }

.logo {
  padding: 35px 0 15px 0;
  width: 50%; }

.th-menu {
  width: 50%;
  position: relative; }
  .th-menu a.menu-mobile {
    position: absolute;
    z-index: 100;
    top: 32px;
    right: 0;
    width: 60px;
    height: 60px;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    background: #333; }
    .th-menu a.menu-mobile::before, .th-menu a.menu-mobile::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 14px;
      width: 32px;
      height: 1px;
      pointer-events: none;
      -webkit-transition: -webkit-transform 0.25s;
      transition: -webkit-transform 0.25s;
      -o-transition: transform 0.25s;
      transition: transform 0.25s;
      transition: transform 0.25s, -webkit-transform 0.25s;
      -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      background: #fff; }
    .th-menu a.menu-mobile::before {
      -webkit-transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
      transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
      -webkit-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      transition-delay: 0.2s; }
    .th-menu a.menu-mobile::after {
      -webkit-transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
      transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
      -webkit-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      transition-delay: 0.2s; }
    .th-menu a.menu-mobile.active::before {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -moz-transform: rotate(45deg); }
    .th-menu a.menu-mobile.active::after {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg); }
    .th-menu a.menu-mobile span {
      position: absolute;
      left: 17px;
      top: calc(50% - 1px);
      overflow: hidden;
      width: 26px;
      height: 1px;
      text-indent: 200%;
      -webkit-transition: opacity 0.25s;
      -o-transition: opacity 0.25s;
      transition: opacity 0.25s;
      background: #fff; }
    .th-menu a.menu-mobile.active span {
      display: none; }

/*======================================
        Footer
======================================*/
.copyright {
  background: #808080;
  color: #fff;
  text-align: center;
  padding: 10px 0; }

#nav-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: #000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  #nav-menu.active {
    right: 0; }
  #nav-menu li {
    padding: 10px 10px;
    border-bottom: 1px solid #999999; }
    #nav-menu li a {
      color: #fff;
      display: block;
      font-size: 14px;
      line-height: 22px;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
      #nav-menu li a:before {
        content: '\f105';
        display: inline-block;
        font-family: 'FontAwesome';
        color: #fff;
        margin-right: 10px;
        font-size: 18px;
        vertical-align: middle; }
    #nav-menu li:hover {
      background: #676464; }

/*======================================
        section-home01
======================================*/
.home_01 {
  position: relative;
  height: 602px;
  background: url("../images/bg-slider.jpg") no-repeat center; }
  .home_01 .text-slider {
    padding-top: 200px;
    text-align: center;
    width: 100%; }
  .home_01:after {
    content: '';
    display: block;
    width: 100%;
    height: 33px;
    background: url("../images/unline-slice.jpg") repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1; }

/*======================================
        section-home02
======================================*/
.home_02 {
  background: #d3145a;
  padding: 55px 0; }
  .home_02 .text-about-us {
    color: #fff;
    text-align: center; }
    .home_02 .text-about-us p {
      line-height: 2.6; }

/*======================================
        section-home03
======================================*/
.home_03 {
  padding: 60px 0 110px 0; }

.profile li {
  padding: 0 15px;
  width: 50%;
  float: left; }
  .profile li table {
    width: 100%;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333; }
  .profile li tr td {
    font-size: 14px;
    line-height: 1.4;
    padding: 20px 15px;
    border-bottom: 1px solid #b2b2b2; }
    .profile li tr td:nth-child(1) {
      width: 100px; }
    .profile li tr td:nth-child(2) {
      width: calc(100% - 100px); }
    .profile li tr td a {
      color: #0171bd; }
  .profile li tr:last-child {
    border: 0; }
  .profile li .img-service {
    margin-bottom: 10px; }
    .profile li .img-service img {
      width: 100%; }

/*======================================
        section-home04
======================================*/
.home_04 {
  background: #0071bd;
  padding: 35px 0; }

.lst-profile {
  padding: 0 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .lst-profile .avatar {
    width: 115px;
    height: 115px;
    float: left;
    border-radius: 50%;
    overflow: hidden; }
  .lst-profile .description {
    width: calc(100% - 115px);
    padding: 10px 0px 10px 30px;
    float: left;
    color: #fff; }
    .lst-profile .description p {
      line-height: 2.2; }

/*======================================
        section-home05
======================================*/
.home_05 {
  padding: 55px 0 15px 0; }

.item-service .title-service {
  border-top: 2px solid #333333;
  border-bottom: 1px solid #b2b2b2;
  text-align: center;
  padding: 20px 0; }
  .item-service .title-service h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2; }

.item-service .description {
  padding: 60px 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .item-service .description .img-ser {
    float: left;
    text-align: right;
    padding: 0 25px; }
  .item-service .description .text-ser {
    float: left;
    padding: 0 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .item-service .description .text-ser li {
      font-size: 14px;
      line-height: 2.3; }
      .item-service .description .text-ser li a {
        color: #0171bb; }

.item-service .ser-pc .img-ser {
  width: 320px; }

.item-service .ser-pc .text-ser {
  width: calc(100% - 320px); }

.item-service .ser-sp .img-ser {
  width: 240px; }

.item-service .ser-sp .text-ser {
  width: calc(100% - 240px); }

.item-service .ser-ip .img-ser {
  text-align: center;
  width: 100%;
  margin-bottom: 15px; }

.item-service .ser-ip .text-ser {
  width: 100%; }

/*======================================
        section-home06
======================================*/
.home_06 {
  position: relative; }
  .home_06 .messager {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 100px; }
  .home_06 .title-h2 {
    padding: 50px 0 30px 0;
    position: relative;
    z-index: 100;
    width: 50%;
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .home_06 .title-h2 h2 {
      width: 100%; }
  .home_06 .cont-messager {
    padding: 50px 0 30px 0;
    position: relative;
    z-index: 100;
    width: 50%;
    float: left; }
    .home_06 .cont-messager .lst-messager {
      text-align: center; }
      .home_06 .cont-messager .lst-messager h3 {
        color: #fff; }
    .home_06 .cont-messager .item-messager {
      color: #fff;
      text-align: center;
      padding: 20px 0 10px;
      background: url("../images/unline-messager.png") no-repeat center bottom; }
      .home_06 .cont-messager .item-messager:last-child {
        background: none; }
      .home_06 .cont-messager .item-messager p {
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 17px; }
  .home_06:before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 500px);
    background: url("../images/bg-messager.jpg") center;
    background-size: cover;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: 100%; }
  .home_06:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible; }

/*======================================
        section-home07
======================================*/
.home_07 {
  background: #fbb03b;
  padding: 60px 0 50px 0; }
  .home_07 .box-contact {
    width: 375px;
    margin: 0 auto; }
    .home_07 .box-contact li {
      font-size: 14px;
      line-height: 30px;
      margin: 3px 0; }
      .home_07 .box-contact li span {
        width: 100px;
        display: inline-block;
        line-height: 35px;
        color: #fff; }
      .home_07 .box-contact li input {
        padding: 15px;
        height: 35px;
        border-radius: 0;
        border: 1px solid #b2ada6;
        width: calc(100% - 100px); }
      .home_07 .box-contact li textarea {
        padding: 15px;
        width: 100%;
        border-radius: 0;
        border: 1px solid #b2ada6;
        resize: none; }
      .home_07 .box-contact li .btn-contact {
        display: block;
        line-height: 20px;
        padding: 15px 20px;
        background: #333;
        border-radius: 15px;
        text-align: center;
        color: #fff; }
        .home_07 .box-contact li .btn-contact:hover {
          background: #575656; }
      .home_07 .box-contact li p {
        margin-bottom: 12px; }

/*======================================
            Helper
======================================*/
.is_pc {
  display: inherit; }

.is_sp {
  display: none; }

.is_hidden {
  display: none; }

.tar {
  text-align: right; }

.tal {
  text-align: left; }

.tac {
  text-align: center; }

.float_left {
  float: left; }

.float_right {
  float: right !important; }

.brd_none {
  border: 0 !important; }

.pd_top_100 {
  padding-top: 100px; }

/*-----------------------
        Responsive for device < 1200px
-----------------------------------------*/
@media screen and (max-width: 1000px) {
  .home_06 {
    padding: 0; }
    .home_06:before {
      max-width: none;
      left: 0;
      height: 426px; }
    .home_06:after {
      height: 426px; }
    .home_06 .title-h2 {
      width: 100%;
      height: 425px;
      margin: 0; }
    .home_06 .cont-messager {
      width: 100%; }
      .home_06 .cont-messager .item-messager {
        color: #000; }
      .home_06 .cont-messager .lst-messager h3 {
        color: #d5135a;
        font-weight: 700; } }

/*-----------------------
        Responsive for device < 750px
-----------------------------------------*/
@media screen and (max-width: 750px) {
  .container {
    padding: 0 50px; }
  .profile li {
    width: 100%;
    padding: 0 50px; }
    .profile li:first-child {
      padding-bottom: 60px; }
    .profile li:last-child {
      padding: 0; }
  .title-h2.title-2 h2:before {
    content: ''; }
  .title-h3:before {
    content: '';
    display: block;
    width: 108px;
    height: 55px;
    margin: 0 auto 25px auto; }
  .title-h3.title-1:after {
    content: none; }
  .title-h3.title-1:before {
    background: url("../images/title-1.png"); }
  .title-1:after {
    content: ''; }
  .profile li .img-service {
    margin-bottom: 0; }
  .home_03 {
    padding-bottom: 0; }
  .item-service .description {
    padding: 45px 30px; }
    .item-service .description .img-ser img {
      width: 100%; }
  .item-service .ser-pc .img-ser {
    width: 100%;
    text-align: center; }
  .item-service .ser-pc .text-ser {
    width: 100%; }
  .item-service .ser-sp .img-ser {
    width: 240px; }
  .item-service .ser-sp .text-ser {
    width: calc(100% - 240px); }
  .home_07 .box-contact {
    width: 100%; }
    .home_07 .box-contact li span {
      width: 200px; }
    .home_07 .box-contact li input {
      width: calc(100% - 200px); }
  .home_06 .messager {
    padding: 0; } }

/*-----------------------
        Responsive for device < 600px
-----------------------------------------*/
@media screen and (max-width: 600px) {
  .container {
    padding: 0 15px; }
  .lst-profile {
    padding: 0;
    text-align: center; }
    .lst-profile .avatar {
      margin: 0 auto;
      float: none; }
    .lst-profile .description {
      width: 100%;
      padding: 10px 0; }
    .lst-profile:after {
      content: "";
      clear: both;
      display: block;
      height: 0;
      visibility: hidden; }
  .item-service .description {
    padding: 45px 15px; }
    .item-service .description .img-ser {
      padding: 0;
      width: 100%; }
      .item-service .description .img-ser img {
        width: auto; }
    .item-service .description .text-ser {
      padding: 0; }
  .item-service .ser-pc .img-ser {
    width: 100%;
    text-align: center; }
  .item-service .ser-pc .text-ser {
    width: 100%; }
  .item-service .ser-sp .img-ser {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; }
  .item-service .ser-sp .text-ser {
    width: 100%; }
  .home_07 .box-contact li span {
    width: 100px; }
  .home_07 .box-contact li input {
    width: calc(100% - 100px); }
  .profile li {
    padding: 0 15px; } }

/*# sourceMappingURL=style.css.map */