@charset "UTF-8";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/earlyaccess/notosansjapanese.css";
.row_clear:after, .container:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

a img {
  border: none; }

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Meiryo UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #000;
  font-size: 14px; }

/* cssFadein */
body {
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
  animation: fadeIn 2s ease 0s 1 normal; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* /cssFadein */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
  a:hover {
    text-decoration: none; }
  a:focus {
    text-decoration: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

li, ol {
  list-style: none; }

button, input, a {
  padding: 0;
  border: 0; }
  button:focus, input:focus, a:focus {
    outline: none; }

/*------------------- Wraper -------------------*/
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.image-center {
  text-align: center; }

/*======================================
        Header
======================================*/
/*======================================
        Footer
======================================*/
/*======================================
        section-home01
======================================*/
/*======================================
            Helper
======================================*/
.is_pc {
  display: inherit; }

.is_sp {
  display: none; }

.is_hidden {
  display: none; }

.tar {
  text-align: right; }

.tal {
  text-align: left; }

.tac {
  text-align: center; }

.float_left {
  float: left; }

.float_right {
  float: right !important; }

.brd_none {
  border: 0 !important; }

.pd_top_100 {
  padding-top: 100px; }

/*-----------------------
        Responsive for device < 1200px
-----------------------------------------*/
/*-----------------------
        Responsive for device < 780px
-----------------------------------------*/
