/*======================================
        Footer
======================================*/

#footer{
	@extend %bd-top;
	background-color: #333; 
	padding: 22px 0 50px 0;
}

.copyright{
	text-align: right;
	color: #fff;
	p{
		font-size: 12px;
		line-height: 20px;
	}
}